.paginas-container a{
    color: $color-crema;
    font-size: $veintep + 2;
}

.logo-container p{  
    color: $color-crema;
    font-size: $veintep + 2px;
}

.imgLogo{
    width: 120px;
    height: 120px;
}
