@import "./modulos/variables";
@import "./modulos/contacto";
@import "./modulos/footer";
@import "./modulos/header";
@import "./modulos/main";
@import "./modulos/navigation";
@import "./modulos/reset";
@import "./modulos/talleres";

p {
    color: black;
    font-size: 20px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.interior2 {
    width: 250px;
  height: 265px;
  max-width: 100%;
}

.h3 {

    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formulario {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.paginas-container > a {
  text-decoration: none;
  color: white;
}

.parrafoinicio {
  padding: 30px;
  font-size: 20px;
}