@import "./modulos/variables";




*::after,
*::before{
    margin: $cero;
    padding: $cero;
    box-sizing: border-box;
}

.header{
    height: 100vh;
}

.paginas-container a{
    color: $color-crema;
    font-size: 22px;
}

.logo-container p{  
    color: $color-crema;
    font-size: $veintep + 2px;
}

.carrusel{
    height: $seis-cienp;
}
.imagenHuerta{
    height: $seis-cienp;
    max-height: $seis-cienp;
}

.imgLogo{
    width: 30px;
    height: 50px;
}

.main {
    padding-top: 100px;
    background-color: lightgray;
}
.talleresimg {
    object-fit: $cv;
}

.imgnosotros {
  width: 100%;
  height: $tutu;
  max-width: 100%;
  max-height: 40%;
  object-fit: $cv;
  border-radius: 30px;
  padding: 0%;
  margin: 0%;
  
}

@media screen and (max-width: 800px) {
    .carrusel{
        height: $seis-cienp - 200px;
    }
    .imagenHuerta{
        height: $seis-cienp - 200px;
        max-height: $seis-cienp - 200px;
    }
}

.header-talleres{
    height: $seis-cienp - 300px;
}

.main-talleres{
    min-height: calc(100vh - 350px);
}


.nosotros{
    min-height: calc(100vh - 50px);

    .carousel-item {
        img {
            height: $seis-cienp;
        }
    }
}

.formulario{
    border: 10px solid black;
    background-color: cornsilk;
    padding: $veintep;

    ul {
        text-decoration: none;

        li {
            font-size: $veintep;
            font-weight: 500px;
        }

        }
    }
    

.contacto main{
    min-height: calc(100vh - 350px);
}
  
footer{
    height: 50px;
}

