.main {
    padding-top: 100px;
    background-color: lightgray;
}

.carrusel{
    height: $seis-cienp;
}
.imagenHuerta{
    height: $seis-cienp;
    max-height: $seis-cienp;
}

.imgnosotros {
  width: 100%;
  height: $tutu;
  max-width: 100%;
  max-height: 40%;
  object-fit: $cv;
  border-radius: 30px;
  padding: 0%;
  margin: 0%;
  
}

@media screen and (max-width: 800px) {
    .carrusel{
        height: $seis-cienp - 200px;
    }
    .imagenHuerta{
        height: $seis-cienp - 200px;
        max-height: $seis-cienp - 200px;
    }
}






.nosotros{
    min-height: calc(100vh - 50px);

    .carousel-item {
        img {
            height: $seis-cienp;
        }
    }
}